* {
    margin: 0;
}
@font-face {
    font-family: 'form';
    src: url(../font/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'login';
    src: url(../font/Ubuntu/Ubuntu-Bold.ttf);
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-wrapping {
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(0deg, #3088C8 0.12%, #51C8EC 100%);
}
.background-img {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img-latihan/Group.png);
}
.wrapping-form {
    width: 432px;
    height: 90%;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 20px 0;
}
.wrapping-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0; {
    }
}
section {
    position: absolute;
    padding:0 0 0 110px;
    margin: -25px 0;
}
.pop-up {
    display: flex;
    justify-content: center;
}
#pop-up {
    font-family: 'form';
    color: red;
}
form {
    padding: 30px 0;
    margin: 0 30px;
}
#alert {
    display: flex;
    justify-content: center;
    position: relative;
    top: 30px;
    width: 370px;
    height: 20px;
    background-color: red;
    color: #FFFFFF;
    font-family: 'form';
    border-radius: 5px;
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.14) ;
}
.wrapping-input {
    padding: 10px 0;
}
label {
    font-family: 'form';
    color: #828282;
}
input {
    font-family: 'form';
    color: #828282;
}
.wrapping-check-box {
    display: flex;
    justify-content: space-between;
}
.input-name-password {
    width: 360px;
    height: 50px;
    margin: 15px 0;
    padding-left: 10px;
    border: 1px solid #ebebeb;
    outline-color:#F69421;
    border-radius: 10px;
}
.wrapping-input a {
    position: relative ;
    float: right;
    font-family: 'form';
    font-size: 14px;
    top: 55px;
    right: 15px;
    text-decoration: none;
    color: #828282;
}
.checkbox {
    display: flex;
    align-items: center;
}
.password {
    align-items: center;
    font-family: 'form';
    font-size: 13px;
    text-decoration: none;
    margin: 0 6px 0;
}
.wrapping-button-login {
    display: flex;
    justify-content: center;
}
.button-login {
    width: 360px;
    height: 50px;
    margin: 40px 0 0;
    font-family: 'login';
    font-size: 20px;
    color: #FFFFFF;
    background-color: #C7C7CC;
    border:none;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .wrapping-form {
        width: 80%;
        height: 490px;
        padding: 10px 0;
    }
    .wrapping-logo {
        padding: 0;
    }
    label {
        font-size: 12px;
    }
    input {
        font-size: 9px;
    }
    #show {
        font-size: 9px;
    }
    .password {
        font-size: 12px;
    }
    .button-login {
        font-size: 15px;
    }
    .input-name-password  {
        width: 90%;
        height: 30px;
        margin: 7px;
        border-radius: 5px;
    }
    .wrapping-input a {
        top: 38px;
    }
    img {
        width: 125px;
        padding: 35px 0;
    }
    form {
        margin: 0 10px;
    }
    .button-login  {
        height: 34px;
        border-radius: 7px;
    }
}